
@{
    ViewBag.Title = "Dosehn Traffic Management System ";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.DisplayText</p>
<form action="/doshen/goto" method="post">
    <input  type="text" name="gotoUrl"/>
    <input type="submit" name="Goto"/>

</form>

